# Assigment
1. Import libraries
2. Import tips dataset
3. Perform 10-12 pandas commands.
4. ML pridict.

1- import libraries

In [4]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl

2-import tips dataset

In [5]:
tips = sns.load_dataset('tips')
df=tips.copy()
df.sample(7)

     total_bill   tip     sex smoker   day    time  size
160       21.50  3.50    Male     No   Sun  Dinner     4
118       12.43  1.80  Female     No  Thur   Lunch     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
147       11.87  1.63  Female     No  Thur   Lunch     2
99        12.46  1.50    Male     No   Fri  Dinner     2
77        27.20  4.00    Male     No  Thur   Lunch     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [8]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

2. pandas commands

In [13]:
DataFrame = pd.DataFrame({"A" : [1, 3, 4,7,9,11,13,15], "B": [5, 9, 12,14,16,17,18,19]})
print(DataFrame)

    A   B
0   1   5
1   3   9
2   4  12
3   7  14
4   9  16
5  11  17
6  13  18
7  15  19

In [14]:
DataFrame.mean()

A     7.875
B    13.750
dtype: float64

In [15]:
DataFrame.isnull()

       A      B
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7  False  False

In [16]:
DataFrame.isnull().sum()

A    0
B    0
dtype: int64

In [17]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       8 non-null      int64
 1   B       8 non-null      int64
dtypes: int64(2)
memory usage: 256.0 bytes

In [18]:
DataFrame.describe()

               A          B
count   8.000000   8.000000
mean    7.875000  13.750000
std     4.998214   4.832923
min     1.000000   5.000000
25%     3.750000  11.250000
50%     8.000000  15.000000
75%    11.500000  17.250000
max    15.000000  19.000000

In [19]:
DataFrame.fillna(df.mean(), inplace = True)
print(DataFrame)

    A   B
0   1   5
1   3   9
2   4  12
3   7  14
4   9  16
5  11  17
6  13  18
7  15  19

/tmp/ipykernel_6225/1962580616.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  DataFrame.fillna(df.mean(), inplace = True)

In [20]:
DataFrame.dropna(inplace = True)
print(DataFrame)

    A   B
0   1   5
1   3   9
2   4  12
3   7  14
4   9  16
5  11  17
6  13  18
7  15  19

In [21]:
DataFrame.insert(column = 'C', value = [3, 4, 6, 7], loc=0)
print(DataFrame)

ValueError: Length of values (4) does not match length of index (8)

In [22]:
DataFrame.loc[2]

A     4
B    12
Name: 2, dtype: int64

In [23]:
DataFrame.pop(item= 'column_name')
print(DataFrame)

KeyError: 'column_name'

4- ML pridiction

In [24]:
import numpy as np
from sklearn.linear_model import LogisticRegression

In [26]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [28]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [29]:
x = df['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch']
y = df['species']

KeyError: ('survived', 'pclass', 'sex', 'age', 'sibsp', 'parch')

In [30]:
model = LogisticRegression()

In [ ]:
model= fit(x,y)